{% extends "base.html" %}
{% block title %}Энциклопедия: Ростов-на-Дону - город воинской славы{% endblock %}
{% block pagetitle %} История {% endblock %}
{% block content %}
<section class="timeline-section">
    <h2>Основание и XVIII век</h2>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-date">1749 г.</div>
            <div class="timeline-content">
                <h3>Основание Таможни</h3>
                <p>Императрица Елизавета Петровна подписала Указ об учреждении Темерницкой таможни в устье реки Темерник. Эта дата
                считается официальным днём рождения города.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-date">1761 г.</div>
            <div class="timeline-content">
                <h3>Начало строительства крепости</h3>
                <p>Для защиты южных границ Российской империи началось строительство крепости Святого Димитрия Ростовского. Она стала одной
                из самых мощных крепостей на юге страны.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-date">1796 г.</div>
            <div class="timeline-content">
                <h3>Посад получает имя</h3>
                <p>Посад, образовавшийся вокруг крепости, указом императора Павла I был назван городом Ростовом-на-Дону.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}