{% extends "base.html" %}
{% block title %}Энциклопедия: Ростов-на-Дону - город воинской славы{% endblock %}
{% block pagetitle %} Ростов-на-Дону {% endblock %}
{% block content %}
<div class="main-content">
    <section class="intro-section">
        <div class="intro-content">
            <h2>История подвига</h2>
            <p>Ростов-на-Дону пережил две оккупации в годы войны. Город показал пример мужества и стойкости.
            В 1941-1942 годах из добровольцев создали полки ополчения. Тысячи жителей строили оборонительные рубежи.
            Первая оккупация в ноябре 1941 года длилась 8 дней. Уже 29 ноября город освободили - это было первое крупное поражение
            немецких войск.
            Летом 1942 года после тяжелых боев город снова захватили. Вторая оккупация продолжалась 205 дней. За это время погибли
            десятки тысяч мирных жителей, город был почти полностью разрушен.
            14 февраля 1943 года Ростов-на-Дону окончательно освободили. В 2008 году городу присвоили звание "Город воинской славы"
            в знак признания его подвига.</p>
        </div>
    </section>

    <div class="nav-place">
        <section class="cta-section">
            <div class="cta-content">
                <h2>Сохраним память вместе</h2>
                <p>Исследуйте мемориалы, посещайте их.</p>
                <a href="/memory" class="btn">Исследовать мемориалы</a>
            </div>
        </section>

        <section class="cta-section">
            <div class="cta-content">
                <h2>Будем помнить историю города.</h2>
                <p>Изучайте историю и передавайте знания следующим поколениям</p>
                <a href="/history" class="btn">Изучить историю</a>
            </div>
        </section>

        <section class="cta-section">
            <div class="cta-content">
                <h2>Сохраним память о Героях Победы.</h2>
                <p>Чтите память Героев-освободителей Ростова-на-Дону</p>
                <a href="/heroes" class="btn">Изучить историю</a>
            </div>
        </section>
    </div>
</div>

{% endblock %}
