{% extends "base.html" %}
{% block title %}Энциклопедия: Ростов-на-Дону - город воинской славы{% endblock %}
{% block pagetitle %} Ростов-на-Дону. Мемориалы памяти {% endblock %}
{% block content %}

<section class="simple-cards">
    <div class="cards-container">

        <div class="card">
            <div class="card-image">
                <img src="/static/zmievskaya_balka.jpg" alt="Мемориальный комплекс 'Змиевская балка'">
            </div>
            <div class="card-content">
                <h3>Змиевская балка</h3>
                <div class="card-date">1942 год</div>
                <p>В 1942 году, германскими оккупантами были расстреляны и умерщвлены разными способами свыше 30 тысяч
                    жителей Ростова, в
                    основном евреев.
                    5 - 6 августа 1942 года советские военнопленные вырыли в Змиёвской балке большие ямы и рвы, после
                    чего были расстреляны
                    в южной части карьера у железной дороги. Жителям поселка Змиёвского тогда это объясняли такими
                    словами: «дабы не
                    смешивалась православная кровь с иудейской».
                    4 августа 1942 года по всему городу было вывешено «Воззвание…», обязывающее всех евреев в возрасте
                    от 14 лет пройти
                    регистрацию. 9 августа было опубликовано новое «Воззвание…», предписывающее всему еврейскому
                    населению города явиться 11 августа к 8
                    часам утра в один из шести сборных пунктов с ключами от квартир, ценностями и наличными деньгами для
                    переведения в
                    особый район. Оттуда людей группами по 200-300 человек перевозили и перегоняли к месту расстрела.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/kumzhevskii_memorial.jpg" alt="Мемориальный комплекс 'Змиевская балка'">
            </div>
            <div class="card-content">
                <h3>Кумженский мемориал</h3>
                <div class="card-date">1941-1943 годы</div>
                <p>Мемориал сооружен в 1983 году в память о бойцах Красной армии, освобождавших Ростов от немцев в 1941
                    и 1943 годах. Но
                    мало кто знает, что большая часть погибших захоронена здесь же, в братской могиле, под центральной
                    скульптурной
                    композицией.</p>
            </div>
        </div>

    </div>
</section>

{% endblock %}