{% extends "base.html" %}
{% block title %}Энциклопедия: Ростов-на-Дону - город воинской славы{% endblock %}
{% block pagetitle %} Мемориалы памяти {% endblock %}
{% block content %}

<section class="simple-cards">
    <div class="cards-container">

        <div class="card">
            <div class="card-image">
                <img src="/static/zmievskaya_balka.jpg" alt="Мемориальный комплекс 'Змиевская балка'">
            </div>
            <div class="card-content">
                <h3>Змиевская балка</h3>
                <div class="card-date">1942 год</div>
                <p>В 1942 году, германскими оккупантами были расстреляны и умерщвлены разными способами свыше 30 тысяч
                    жителей Ростова, в
                    основном евреев.
                    5 - 6 августа 1942 года советские военнопленные вырыли в Змиёвской балке большие ямы и рвы, после
                    чего были расстреляны
                    в южной части карьера у железной дороги. Жителям поселка Змиёвского тогда это объясняли такими
                    словами: «дабы не
                    смешивалась православная кровь с иудейской».
                    4 августа 1942 года по всему городу было вывешено «Воззвание…», обязывающее всех евреев в возрасте
                    от 14 лет пройти
                    регистрацию. 9 августа было опубликовано новое «Воззвание…», предписывающее всему еврейскому
                    населению города явиться 11 августа к 8
                    часам утра в один из шести сборных пунктов с ключами от квартир, ценностями и наличными деньгами для
                    переведения в
                    особый район. Оттуда людей группами по 200-300 человек перевозили и перегоняли к месту расстрела.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/kumzhevskii_memorial.jpg" alt="Мемориальный комплекс 'Змиевская балка'">
            </div>
            <div class="card-content">
                <h3>Кумженский мемориал</h3>
                <div class="card-date">1941-1943 годы</div>
                <p>Мемориал сооружен в 1983 году в память о бойцах Красной армии, освобождавших Ростов от немцев в 1941
                    и 1943 годах. Но
                    мало кто знает, что большая часть погибших захоронена здесь же, в братской могиле, под центральной
                    скульптурной
                    композицией.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/pavshim_voinam.jpg" alt="Мемориальный комплекс «Павшим воинам»'">
            </div>
            <div class="card-content">
                <h3>Мемориальный комплекс «Павшим воинам»</h3>
                <div class="card-date">1969 год</div>
                <p>Расположен в сквере имени Фрунзе на площади Карла Маркса. Центром мемориала является массивное бетонное полукольцо,
                символизирующее прерванные жизни. На нем изображена скорбящая Родина-мать с лавровой ветвью в руке. В центре комплекса
                горит Вечный огонь, а рядом находится братская могила, где покоятся более 300 советских воинов и мирных жителей. С 1975
                года здесь действует Пост №1, где ростовские школьники несут вахту памяти.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/zashitnikam_neba.jpg" alt="Мемориальный комплекс «Защитникам Ростовского неба»">
            </div>
            <div class="card-content">
                <h3>Мемориальный комплекс «Защитникам Ростовского неба»</h3>
                <div class="card-date">8 мая 1972 года</div>
                <p>Находится на проспекте Шолохова. Центральным элементом мемориала является боевой самолет МиГ-17, установленный на
                25-метровом постаменте и символически взлетающий в небо. Комплекс был создан в честь подвигов летчиков, сражавшихся под
                Ростовом. Рядом расположены братские могилы, в которых покоятся более 1800 бойцов, включая Героев Советского Союза</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/soldatam.jpg" alt="Памятник Солдатам Победы">
            </div>
            <div class="card-content">
                <h3>Памятник Солдатам Победы</h3>
                <div class="card-date">2015 год</div>
                <p>Находится в Советском районе на Аллее роз. Мемориал представляет собой бронзовую фигуру солдата высотой около 5 метров, 
                    установленную на гранитном постаменте. Памятник, созданный скульптором Анатолием Скнариным, оснащен подсветкой </p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/stella.jpg" alt="Стелла">
            </div>
            <div class="card-content">
                <h3>Памятник-стела «Воинам-освободителям г. Ростова-на-Дону от немецко-фашистских захватчиков»</h3>
                <div class="card-date">8 мая 1983 года</div>
                <p>72-метровая стела на Театральной площади, увенчанная 100-тонным навершием и скульптурой богини победы Ники. Со стороны
                площади размещен макет ордена Отечественной войны I степени. У основания стелы — барельефы на темы "Фронт", "Тыл" и
                "Мир"</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="/static/serbskie.jpg" alt="Мемориал Славы «Самбекские высоты»">
            </div>
            <div class="card-content">
                <h3>Мемориал Славы «Самбекские высоты»</h3>
                <div class="card-date">1980 год</div>
                <p>Находится за пределами Ростова, под Таганрогом. Это крупнейший памятник в регионе, посвященный воинам 130-й и 416-й
                стрелковых дивизий. Мемориал состоит из двух бетонных стен, символизирующих дивизии-освободительницы. Сегодня это
                масштабный музейный комплекс с выставкой техники и Аллеей героев</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}